<h1>List Students by Course</h1>
<form (ngSubmit)="search()" novalidate>
    <img src="assets/logo.png">
    <div>
        <label for="title">Course Code</label>
        <div>
            <input type="text" required [(ngModel)]="Argument.courseCode"
                   name="courseCode" placeholder="courseCode">
        </div>
    </div>
    <div>
        <input type="submit">
    </div>
    <strong id="error">{{errorMessage}}</strong>
</form>

<ul>
    <li *ngFor="let article of articles">
        <small>Creator: {{article.creator.fullName}}</small>
        <br />
        <small>Course Name: {{article.courseName}}</small>
        <br />
        <small>Section: {{article.section}}</small>
        <br />
        <small>Semester: {{article.semester}}</small>
        <br />
        <small>Created: {{article.created}}</small>
        <div>&nbsp;</div>
    </li>
</ul>

<div *ngIf="articles && articles.length === 0">
    No Students yet in this course
</div>